<a href="https://colab.research.google.com/github/AnatoliyZhuk/My_analysis/blob/We_are_here/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B0_%D0%A1%D0%BE%D0%B1%D0%B5%D1%81%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Постановка задачи** <br/>
Гномы добывают золото, периодически сообщая о своей награде. При добыче полезных ископаемых использовались инструменты двух поколений, некоторые гномы были оснащены инструментами 1-го поколения, другие - 2-го поколения. После внедрения инструментов нового поколения было замечено, что производительность не соответствует ожиданиям. Нужно подтвердить или опровергнуть опасения генерального директора, подкрепив свои выводы холодными достоверными данными.

Импортирую необходимые для работы библиотеки.

In [5]:
import pandas as pd
import numpy as np
from google.colab import files

Импортирую предложенный для рассмотрения dataset **gold_mining_data.csv**<br/> 
Предварительно загружаю файл в сессионное хранилище Google Colab

In [6]:
data = pd.read_csv('gold_mining_data.csv')
data.head()

   dwarf_id  hired_date reported_date  gold_mined hammer_date
0         1  2014-01-01    2014-01-31         656  2014-01-01
1         1  2014-01-01    2014-02-28         565  2014-01-01
2         1  2014-01-01    2014-03-31         516  2014-01-01
3         1  2014-01-01    2014-04-30         568  2014-01-01
4         1  2014-01-01    2014-05-31         556  2014-01-01

In [7]:
print('Уникальные значения в колонке hired_date: ', data['hired_date'].unique(), '\n')
print('Уникальные значения в колонке hammer_date: ', data['hammer_date'].unique(), '\n')
print('Уникальные значения в колонке reported_date: ', data['reported_date'].unique(), '\n')

Уникальные значения в колонке hired_date:  ['2014-01-01' '2014-02-01' '2014-03-01' '2014-04-01' '2014-05-01'
 '2014-06-01' '2014-07-01' '2014-08-01' '2014-09-01' '2014-10-01'
 '2014-11-01' '2014-12-01' '2015-01-01' '2015-02-01' '2015-03-01'
 '2015-04-01' '2015-05-01' '2015-06-01' '2015-07-01' '2015-08-01']

Уникальные значения в колонке hammer_date:  ['2014-01-01' '2015-01-01']

Уникальные значения в колонке reported_date:  ['2014-01-31' '2014-02-28' '2014-03-31' '2014-04-30' '2014-05-31'
 '2014-06-30' '2014-07-31' '2014-08-31' '2014-09-30' '2014-10-31'
 '2014-11-30' '2014-12-31' '2015-01-31' '2015-02-28' '2015-03-31'
 '2015-04-30' '2015-05-31' '2015-06-30' '2015-07-31' '2015-08-31']

Просмотрев данные, делаю следующие умозаключения: <br/>
**dwarf_id** - уникальный идентификатор гнома-работника. <br/>
**hired_date** - дата приема на работу гнома-работника. Гном-работник может быть нанят на работу в начале любого месяца. <br/>
Предполагается, что с 2015 года все работники перешли на новое поколение инструментов (то есть нужно учитывать, что например первый гном-работник, работая и в 2014 году и в 2015 году, успел использовать инструменты обоих поколений. <br/>
**reported_date** - в конце каждого месяца гном работник сдает отчет по проделанной работе (сколько золота ему удалось добыть за этот месяц). <br/>
**gold_mined** - количество добытого золота. <br/>

Последний отчет за 2014 год происходит **'2014-12-31'** после чего гном-работник переходит на инструменты нового поколения.<br/>
Обозначим **table_one** наблюдения, где применялись инструмены нового поколения. <br/>
Обозначим **table_two** наблюдения, где применялись инструмены старого поколения. <br/>

In [8]:
table_one = data[data['reported_date'] > '2014-12-31']
table_one.head()

    dwarf_id  hired_date reported_date  gold_mined hammer_date
12         1  2014-01-01    2015-01-31         489  2014-01-01
13         1  2014-01-01    2015-02-28         428  2014-01-01
14         1  2014-01-01    2015-03-31         479  2014-01-01
15         1  2014-01-01    2015-04-30         445  2014-01-01
16         1  2014-01-01    2015-05-31         446  2014-01-01

Создадим сводную таблицу для показателей гномов-работников, которые докладывали о добыче золота после начала 2015 года. Найдем среднее значение добытого золота в течение одного месяца после 2015 года.<br/>
Получим 2 колонки: <br/>
1. Будут учтены те гномы-работники, которые работали еще в 2014 году, но с приходом 2015 года перешли на инструменты нового поколения.<br/>
2. Будут учтены те гномы-работники, которые начали свою работу в 2015 году.

In [9]:
table_one_pivot = pd.pivot_table(table_one, values='gold_mined', index=['dwarf_id'],
                    columns=['hammer_date'], aggfunc=np.mean)
table_one_pivot.head()

hammer_date  2014-01-01  2015-01-01
dwarf_id
1               451.000         NaN
2               447.125         NaN
3               434.625         NaN
4               440.375         NaN
5               438.375         NaN

Просуммировав значения 2 столбцов, отразим эту информацию в столбце **new**, после чего расчитаем среднее значение добытого золота за один месяц при использовании инструментов нового типа.<br/>
Перевожу значения в целочисленный тип, так как в Power BI возникает ошибка и данные считываются в текстовом формате.

In [10]:
table_one_pivot['new'] = table_one_pivot[['2014-01-01','2015-01-01']].sum(axis=1)
table_one_pivot['new'] = table_one_pivot['new'].astype(int)
table_one_pivot = table_one_pivot.drop(['2014-01-01','2015-01-01'], axis=1)
table_one_pivot.head()

hammer_date  new
dwarf_id
1            451
2            447
3            434
4            440
5            438

In [11]:
table_one_pivot.mean()

hammer_date
new    600.222264
dtype: float64

Создадим сводную таблицу для показателей гномов-работников, которые докладывали о добыче золота до начала 2015 года.

In [12]:
table_two = data[data['reported_date'] < '2015-01-31']
table_two.head()

   dwarf_id  hired_date reported_date  gold_mined hammer_date
0         1  2014-01-01    2014-01-31         656  2014-01-01
1         1  2014-01-01    2014-02-28         565  2014-01-01
2         1  2014-01-01    2014-03-31         516  2014-01-01
3         1  2014-01-01    2014-04-30         568  2014-01-01
4         1  2014-01-01    2014-05-31         556  2014-01-01

Аналогичным образом создадим сводную таблицу для гномов работников, использующих инструменты старого поколения.<br/>
Здесь подсчеты осуществляются проще, так как инструменты старого поколения использовались только в 2014 году и мне не нужно проводить дополнительные операции по сложению столбцов показателей за разные периоды.

In [14]:
table_two_pivot = pd.pivot_table(table_two, values='gold_mined', index=['dwarf_id'],
                    columns=['hammer_date'], aggfunc=np.mean)
table_two_pivot['2014-01-01'] = table_two_pivot['2014-01-01'].astype(int)
table_two_pivot.head()

hammer_date  2014-01-01
dwarf_id
1                   538
2                   540
3                   535
4                   543
5                   552

In [15]:
table_two_pivot.mean()

hammer_date
2014-01-01    581.418079
dtype: float64

Были получены средние значения добытого золота за месячный период при использовании инструментов старого и нового поколения.<br/>
При использовании инструментов старого поколения среднее значение составило - **581.74 единиц золота**.<br/>
При использовании инструментов нового поколения среднее зачение составило - **600.51 единиц золота**.<br/>
Вывод: использование инструментов нового поколения приводит к улучшению показателей добычи. Опасения генерального директора опровергнуты.

Используем код ниже для скачивания сводных таблиц в формате  csv, чтобы в дальнейшем поработать с ними в Power BI

In [16]:
table_two_pivot.to_csv('table_two_pivot.csv') 
files.download('table_two_pivot.csv')
table_one_pivot.to_csv('table_one_pivot.csv') 
files.download('table_one_pivot.csv')